@charset "UTF-8";
.menu a {
  display: inline-block;
  padding: 12px 2px;
  border-bottom: 2px solid #fff; }

.menu a:hover, .menu .active {
  color: #ce251f;
  border-bottom: 2px solid #ce251f; }

.pos {
  line-height: 50px;
  color: #a3a3a3; }

.pos a {
  color: #a3a3a3; }

.title {
  padding-top: 0; }

.list .box {
  padding-top: 20px;
  transition: transform .2s linear; }

.list .box:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0); }

.list h3 {
  margin-top: 20px;
  margin-left: 44px;
  font-size: 18px; }

.list p {
  margin-left: 44px;
  line-height: 24px;
  margin-top: 18px;
  color: #a3a3a3;
  text-indent: 2em;
  margin-bottom: 75px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*内容超出的显示省略号*/
  height: 75px; }

nav {
  margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .pagination > li {
    margin-right: 12.2px; }
  .list h3, .list p {
    margin-left: 0;
    text-align: center; }
  .list p {
    margin-top: 10px;
    margin-bottom: 20px; } }
