@media (min-width: 992px) {
	.col-md-4 {
		width: 33.33333333%;
		margin-bottom: 10px;
	}
}

.xiayi {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center
}

.xiayi a {
	color: black;
	font-weight: bold
}

.xiayi a:hover {
	color: #CE251F
}

.navbar-inverse {
	background-color: #fff;
	border-color: #fff
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #fff
}

.navbar-brand>img {
	display: none
}

.nav>li {
	margin-right: 100px
}

.nav>li:last-child {
	margin-right: 0
}

.nav>li:nth-child(3),
.nav>li:nth-child(4) {
	margin-right: 52px
}

.nav>li>a {
	padding: 30px 10px;
	color: #000;
	border-bottom: 2px solid #fff
}

.nav>li:nth-child(4) a {
	padding: 20px 10px
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #fff;
	color: #000
}

.navbar-inverse .navbar-nav>li>a {
	color: #000
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #ce251f;
	border-bottom: 2px solid #ce251f
}

.navbar-inverse .navbar-nav>li:nth-child(4)>a:hover {
	border-bottom: none
}

.ad {
	max-width: 1440px;
	margin: 84px auto 0
}

.carousel-indicators li {
	border: 1px solid #f47975
}

.carousel-indicators .active {
	background-color: #ce251f
}

.carousel-control.left,
.carousel-control.right {
	background: none
}

.carousel-control,
.carousel-control:focus,
.carousel-control:hover {
	color: #dd645b
}

.content1 {
	background-color: #e6e5e5;
	max-width: 1440px;
	margin: 0 auto
}

.content1 .content,
.content2 .content {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto
}

.title {
	width: 325px;
	padding-top: 45px;
	padding-bottom: 34px
}

.title h3 {
	font-size: 24px;
	padding-top: 10px;
	padding-left: 11px;
	background: url(../images/title_bg.png) no-repeat 0 0
}

.title p {
	font-size: 14px;
	color: #7e7e7e;
	margin-top: 7px
}

.menu a {
	display: inline-block;
	padding: 12px 2px;
	border-bottom: 2px solid #fff
}

.menu a:hover,
.menu .active {
	color: #ce251f;
	border-bottom: 2px solid #ce251f
}

.pos {
	line-height: 50px;
	color: #a3a3a3
}

.pos a {
	color: #a3a3a3
}

.title {
	padding-top: 0
}

.media-body {
	display: block;
	margin-left: 50px;
	margin-bottom: 40px
}

.media-heading {
	margin-top: 10px;
	font-size: 22px
}

.media-heading h5,
h6 {
	width: 900px;
	margin-top: 20px;
	font-size: 14px;
	color: #a2a2a2
}

.media-heading h6,
h5 {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 600
}

.media2 {
	margin-top: 10px
}

nav {
	margin-top: 50px;
	margin-bottom: 20px
}

.navbar-inverse {
	margin: 0
}

.row.menu {
	margin: 0 auto;
	font-size: 16px
}

.row.menu>.col-md-2 {
	margin-left: 200px
}
.row a{
	color: rgba(255,255,255,.6);
}
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden
	}

	.container {
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto
	}

	.ad {
		margin-top: 50px;
		max-width: 768px !important;
		width: 100%
	}

	.row.menu>.col-xs-2 {
		margin-left: 50px;
		width: 31.666667%
	}

	.row {
		margin-right: -15px;
		margin-left: 0px
	}

	.media-object {
		margin-top: 0px;
		margin-left: 40px
	}

	.media-body {
		margin-left: 40px
	}

	.media-heading h5,
	h6 {
		margin-top: 20px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 300px
	}

	.pagination {
		text-align: center
	}

	.pagination>li {
		display: inline-block;
		margin-right: 10px
	}

	.pho {
		margin-left: 20px;
	}

	.pho img {
		margin-top: 20px;
	}
}

/*# sourceMappingURL=team_info.css.map */
