.navbar-inverse{	/*导航背景色*/
	background-color: #fff;
	border-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar{	/*导航按钮3线颜色*/
	background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
	background-color: #fff;
}
.navbar-brand>img{
	display: none;
}
.nav > li{
	margin-right: 100px;
}
.nav > li:last-child{
	margin-right: 0;
}
.nav > li:nth-child(3),.nav > li:nth-child(4){
	margin-right: 52px;
}
.nav > li > a{
	padding: 30px 10px;
	color: #000;
	border-bottom: 2px solid #fff;
}
.nav > li:nth-child(4) a{
	padding: 20px 10px;
}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #fff;
	color: #000;
}
.navbar-inverse .navbar-nav > li > a{
	color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > .active > a:hover{
	color: #ce251f;
	border-bottom: 2px solid #ce251f;
}
.navbar-inverse .navbar-nav > li:nth-child(4) > a:hover{
	border-bottom: none;
}

.ad{
	max-width: 1440px;
	margin: 84px auto 0;
	/*margin-top: 84px;*/
}

.carousel-indicators li{
	border: 1px solid #f47975;	/*轮播图：空心圆点的边框颜色*/
}
.carousel-indicators .active{
	background-color: #ce251f;	/*轮播图：实心圆点背景色*/
}
.carousel-control.left,.carousel-control.right{
	background: none;
}
.carousel-control,.carousel-control:focus, .carousel-control:hover{
	color: #dd645b;
}

.content1{
	background-color: #e6e5e5;
	max-width: 1440px;
	margin: 0 auto;
}
.content1 .content,.content2 .content{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
/*公共的标题样式*/
.title{
	width: 325px;
	padding-top: 45px;
	padding-bottom: 34px;
}
.title h3{
	font-size: 24px;
	padding-top: 10px;
	padding-left: 11px;
	background: url(../images/title_bg.png) no-repeat 0 0;
}
.title p{
	font-size: 14px;
	color: #7e7e7e;
	margin-top: 7px;
}
.menu a{
	display: inline-block;
	padding: 12px 2px;
	border-bottom: 2px solid #fff;
}
.menu a:hover,.menu .active{
	color: #ce251f;
	border-bottom: 2px solid #ce251f;
}
.pos{
	line-height: 50px;
	color: #a3a3a3;
}
.pos a{
	color: #a3a3a3;
}
.title{
	padding-top: 0;
}
/* .col-xs-2,.col-sm-2,.col-md-2 {
	width: 42.666667%;
	font-size: 16px;
} */
.media-body{
	display: block;
	margin-left: 50px;
}
.media .media-heading{
	color: red;
}
.media-heading{
	margin-top: 50px;
	font-size: 22px;
}
.media-heading h5,h6{
	width: 900px;
	margin-top: 20px;
	font-size: 14px;
	color: #a2a2a2;
}
.media-heading h6,h5{
	margin-top: 10px;
	font-size: 14px;
	font-weight: 600;
}
.media2{
	margin-top: 50px;
}
nav{
	margin-top: 50px;
	margin-bottom: 20px;
}
.navbar-inverse{
	margin: 0;
}
.row.menu{
	margin: 0 auto;
	font-size: 16px;
}
.row.menu>.col-md-2{
	margin-left: 200px;
}
@media screen and (max-width:768px) {
	body{
		overflow-x: hidden;
	}
	.row.menu>.col-xs-2{
		margin-left: 50px;
		width: 31.666667%;
	}
	.media-object{
		margin-top: 50px;
		margin-left: 100px;
	}
	.media-heading h5,h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 390px;
}
.media-body{
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
}