.ad{
	max-width: 1440px;
	margin: 84px auto 0;
	/*margin-top: 84px;*/
}

.carousel-indicators li{
	border: 1px solid #f47975;	/*轮播图：空心圆点的边框颜色*/
}
.carousel-indicators .active{
	background-color: #ce251f;	/*轮播图：实心圆点背景色*/
}
.carousel-control.left,.carousel-control.right{
	background: none;
}
.carousel-control,.carousel-control:focus, .carousel-control:hover{
	color: #dd645b;
}
.pos{
	line-height: 50px;
	color: #a3a3a3;
	float: right;
}
.pos a{
	color: #a3a3a3;
}
.menu a{
	display: inline-block;
	padding: 12px 2px;
	border-bottom: 2px solid #fff;
	color: black;
}
.menu a:hover,.menu .active{
	color: #ce251f;
	border-bottom: 2px solid #ce251f;
}
.title{
	padding-top: 0;
}
.col-xs-2{
	width: 40%;
}
.row{
	margin-top: 50px;
}
.title {
	margin-top: 30px;
}
.people1{
	width: 100%;
}
.media h4{
	margin-top: 45px;
	color: red;
	font-size: 22px;
}
.media h5{
	margin-top: 10px;
	color: red;
}
.media h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
.media{
	width: 49%;
}
.media2{
	margin-top: -210px;
	width: 50%;
	float: right;
}
.media2 h4{
	margin-top: 45px;
	font-size: 22px;
}
.media2 h5{
	margin-top: 10px;
}
.media2 h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
.people2{
	margin-top: 50px;
	width: 100%;
}
.media3 h4{
	margin-top: 45px;
	font-size: 22px;
}
.media3 h5{
	margin-top: 10px;
}
.media3 h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
.media3{
	width: 49%;
}
.media4{
	margin-top: -210px;
	width: 50%;
	float: right;
}
.media4 h4{
	margin-top: 45px;
	font-size: 22px;
}
.media4 h5{
	margin-top: 10px;
}
.media4 h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
.people3{
	margin-top: 50px;
	width: 100%;
}
.media5 h4{
	margin-top: 45px;
	font-size: 22px;
}
.media5 h5{
	margin-top: 10px;
}
.media5 h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
.media5{
	width: 49%;
}
.media6{
	margin-top: -210px;
	width: 50%;
	float: right;
}
.media6 h4{
	margin-top: 45px;
	font-size: 22px;
}
.media6 h5{
	margin-top: 10px;
}
.media6 h6{
	margin-top: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;  /*内容超出的显示省略号*/
	width: 280px;
}
nav{
	margin-top: 50px;
}
.navbar-inverse{
	margin: 0;
}
.row{
	margin-top: 0px;
}
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	.col-xs-2{
		width: 45%;
	}
	.media h6,h5{
		width: 150px;
	}
	.media3 h6,h5{
		width: 150px;
	}
	.media5 h6,h5{
		width: 150px;
	}
	.media,.media3,.media5{
		float: none!important;
		top: 50px;
		width: 100%;
	}
	.media .media-left{
		width: 50%;
	}
	.media .media-body{
		width: 50%;
	}
	.media3 .media-left{
		width: 50%;
	}
	.media3 .media-body{
		width: 50%;
	}
	.media5 .media-left{
		width: 50%;
	}
	.media5 .media-body{
		width: 50%;
	}
	.media2 h6,h5{
		width: 150px;
	}
	.media4 h6,h5{
		width: 150px;
	}
	.media6 h6,h5{
		width: 150px;
	}
	.media2,.media4,.media6{
		float: none!important;
		margin-top: 10px;
		width: 100%;
	}
	.media-object{
		padding-right: 0;
		height: 155px;
	}
	.pagination{
		text-align: center;
		width: 100%;
	}
}