.title{padding-bottom: 17px;}
.menu a{
	display: inline-block;
	padding: 12px 2px;
	border-bottom: 2px solid #fff;
}
.menu a:hover,.menu .active{
	color: #ce251f;
	border-bottom: 2px solid #ce251f;
}
.pos{
	line-height: 50px;
	color: #a3a3a3;
}
.pos a{
	color: #a3a3a3;
}

.case_ad{
    width: 100%
}
.case_ad img{width: 100%;}
.case_ad p{text-align: center;display: block; margin: 0 auto;line-height: 24px;color:#919191;}
.case_ad p:nth-child(2){width: 70%;margin-top: 25px;font-size: 14px; }
.case_logo{width: 90%;margin:0 auto;}
.case_logo h4{font-size: 18px;text-align: center;font-weight: bold;margin-bottom: 36px;margin-top: 88px;}
.case_logo p{color:#919191;margin-top: 34px;text-align: center;}
.case_logo img{width: 100%;margin: 0 auto;}
.lst_img img{margin-bottom:34px;}
.fir_title h4{margin-top: 44px;}
.pagination > li > a{border: none;margin-right: 20px;}
.pagination{margin-bottom: 47px;}
.pagination > li > a >span{color: black}

@media screen and (max-width: 768px){
    .case_logo h4{margin-top: 30px !important;}
}


